.leftMenu{
    color: white;
    background-color: rgba(66,66,66,0.6);
}
.leftMenu li{
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
}
.leftMenu:hover{
    background-color:rgba(66,66,66,0.9) ;
}
.leftMenu li:hover{
    color: bisque;
}
.submenu{
    position: absolute;
    top: 0;
    left: 100px;
    display: none;
}
.submenu img{
    width: 300px;
    height: 200px;
}