{% extends 'baseuser.html' %}
{% load staticfiles %}
{% block mainuserright %}
    <h2>收货地址</h2>
    <div class="add">
        <div onclick="add()" >
            <a href="http://127.0.0.1:8000/address/#2" id="addxad"><img src="{% static 'img/jia.png' %}"></a>
            <span >添加新地址</span>
        </div>
    </div>
{% endblock mainuserright %}
{% block footer %}
    <script>
    function add() {
        $('.mask').show()
        $('.adddz').show()
    }
    $('select[name="provinces"]').change(function () {
        var provinceid = $(this).val()
        $.ajax({
            type:'post',
            url:'/user/address/',
            data:'type=get_province&provinceid='+provinceid,
            success:function (data) {
                datap = data[0]
{#                console.log(data[1])#}
                $('select[name="citys"]').empty()
                for (var i =0;i<datap.length;i++){
                    var city = datap[i]
                    var optionNode = document.createElement('option')
                    $(optionNode).val(city.id)
                    $(optionNode).text(city.name)
                    $('select[name="citys"]').append(optionNode)
                }
                dataa = data[1]
                $('select[name="areas"]').empty()
                 for (var i =0;i<dataa.length;i++){
                    var area = dataa[i]
                    var optionNode = document.createElement('option')
                    $(optionNode).val(area.id)
                    $(optionNode).text(area.name)
                    $('select[name="areas"]').append(optionNode)
                }
            }
        })
    })
    $('select[name="citys"]').change(function () {
        var cityid = $(this).val()
        $.ajax({
            type:'post',
            url:'/user/address/',
            data:'type=get_citys&cityid='+cityid,
            success:function (data) {
                console.log(data)
                $('select[name="areas"]').empty()
                 for (var i =0;i<data.length;i++){
                    var area = data[i]
                    var optionNode = document.createElement('option')
                    $(optionNode).val(area.id)
                    $(optionNode).text(area.name)
                     console.log(area.name)
                    $('select[name="areas"]').append(optionNode)
                }
            }
        })
    })
    </script>
{% endblock footer %}