{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{%static 'css/base.css'%}" rel="stylesheet" >
    {% block head %}
    {% endblock head %}
</head>
<body>
{% include 'head.html' %}
<div class="container">
<div style="width: 100%;height: 200px;background-color: blanchedalmond">
<div class="left">
    {%block left  %}
{% endblock left %}
</div>
<div class="mid">
    {% block mid %}
{% endblock mid %}
</div>
<div class="right">
    {% include 'right.html' %}
</div>
</div>
</div>
{% include 'footer.html' %}
{% block footerjs %}
{% endblock footerjs %}
</body>
</html>