<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
{% csrf_token %}

    <button onclick="csrf()">请求</button>

    <script>
        function csrf() {
            token=$('input').attr('value')
            $.ajax({
                type:'post',
                url:'/post/',
                data:'name=张三&age=10&csrfmiddlewaretoken='+token
                ,success:function (data) {
                    console.log(data)
                }
            })
        }
    </script>

</body>
</html>