{% load staticfiles %}
{% load custom_markdown %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="container">
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <span class="title">{{ post.title }}</span>
                <div class="post_main">
                    <img width="100px" height="300px">
                    <span class="desc">帖子的描述帖子的描述帖子的描述帖子的描述帖子的描述帖子的描述帖子的描述</span>
                    <a class="readmore">阅读全文</a>
                    <span class="time">{{ post.created }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="paginator">
        <ul>
{#            {% if page.has_previous %}#}
{#              <li><a href="/post/page/{{ page.previous_page_number }}"><<</a></li>#}
{#            {% endif %}#}
            {% for index in page_range %}
                {% if index == page.number%}
                <span class="current" style="border-right: 1px solid brown">{{ index }}</span>
                    {% else %}
                    <li><a href="/post/page/{{ index }}">{{ index }}</a></li>
                {% endif %}

            {% endfor %}


{#            #}



{#            {% if page.has_next %}#}
{#            <li><a href="/post/page/{{ page.next_page_number }}">>></a></li>#}
{#            {% endif %}#}

        </ul>
    </div>
</div>

</body>
</html>